[Desktop Entry]
Name={SITE} Workspace
GenericName=Workspace
Comment=Initiate Workspace in Terminator
TryExec=terminator
Exec=terminator -m -T "{SITE} Workspace" -l {SITE} %U
Icon=terminator
Type=Application
Categories=Terminal;Workspace
